.artist {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.artistImage {
    justify-self: center;
}

.artistDetailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.artistDetailContainer h5{
    border-bottom: 1px solid #ccc;
}

.artistDetail {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}