.artistDetailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.artistInfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
}

.backButton {
    margin: 10px;
}

.artistDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.artistDetailColumn {
    width: 50%;
    margin: 5px;
}

@media (max-width: 768px) {
    .artistDetails {
        flex-direction: column;
    }

    .artistDetailColumn {
        width: 100%;
    }
}
